[run]
source = .
omit = 
    test_copycat.py
    */__pycache__/*
    plugins/*
    _patch_giturl.py
    find_ideas.py
branch = True

[report]
exclude_lines =
    pragma: no cover
    pragma: no branch
    if __name__ == .__main__.