# CopyCat v2.3

# CopyCat-Output
CopyCat_Archive/
combined_copycat*.txt

# Python
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/
htmlcov/
.coverage
*.cover
.pytest_cache/

# Tests
#!test_copycat.py

# Tests (temporär ignorieren)
Test_*.*
*.drawio
*.bkp
Entwicklungsplan.md

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS generiert
.DS_Store
Thumbs.db
ehthumbs.db
.DS_Store?

# Secrets
.env
*.env

# Build/Packages
dist/
build/
*.egg-info/